*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper{
    height: 100vh;
    background: linear-gradient(to top right, #5b155c 0%, #771c79 50%, #380d38 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Orbitron', sans-serif;
}

.container{
    width: 90%;
    height: 60%;
    max-width: 600px;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 50px;
    position: relative;
    bottom: 250px;
    left: 50%;
}

.slider{
    height: 100%;
    position: relative;
}

.slider-images{
    height: 100%;
    width: 100%;
}

.slider-images .hide{
    display: none;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00000075;
    border-radius: 50%;
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.btn-arrow.next{
    left: 558px;
}

.btn-arrow:hover{
    background-color: white;
    color:rgb(92, 21, 92);
}


.thumbs{
    display: flex;
    
    float: left;
    width: 100%;
    background-color: black;
    height: 20%;
}

.container-thumbs{
    height: 100%;
    width: calc(100% / 5);
    display: flex;
}

.container-thumbs img{
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    cursor: pointer;
}

.container-thumbs img:hover{
    opacity: 1;
}

.circles{
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
}

.circle{
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff6d;
    cursor: pointer;
}

.circle.active{
    background-color: #fff;
}

.hide{
    display: none;
}